{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="assets/contact.css">
{% endblock %}
{% block title %}Ajoutez vos Contacts{% endblock %}



{% block body %}
<div class="containerc">
    <h1>Ajoutez vos Contacts</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <br>
        <button type="submit">Envoyer</button>
    {{ form_end(form) }}
</div>
{% endblock %}
