<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="assets/navbar.css" rel="stylesheet" />
    <link href="assets/footer.css" rel="stylesheet" />
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
    {% endblock %}
    <div class="container">
        <div class="Logo">
            <img src="image/vroum.png">
        </div>
        <div class="Nom">
            <h1>Kart'on</h1>
        </div>
        <div class="Acceuil">
            <a class="nav-btn" href="/">Accueil</a>
        </div>
        <div class="Présentation">
            <a class="nav-btn" href="/presentation">Présentation</a>
        </div>
        <div class="Prestation">
            <a class="nav-btn" href="/prestation">Prestation</a>
        </div>
        <div class="Avis">
            <a class="nav-btn" href="/avis">Avis</a>
        </div>
        <div class="Contact">
            <a class="nav-btn" href="/contact">Contact</a>
        </div>
    </div>
</head>
<body>
    {% block body %}

    {% endblock %}
    
</body>
</html>
